*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}
#bg{
    background-size:cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#bg1{
    background-color:rgba(14, 13, 13, 0.514);
    width: 100vw;
    height: 100vh;
}
#result{
    background-size:cover;
    height: 100vh;
    width: 100%;
}
